<html>

<head>
    <meta charset="UTF-8">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <script src="../js/bootstrap.min.js" type="text/javascript"></script>
    <title>eezy-book</title>
</head>

<body>
    <div class="container">
        <div class="jumbotron bg-light border border-secondary">
            <div class="card border border-primary">
                <div class="card-body">
                    <h5 class="card-title">Olá!</h5>
                    <p class="card-text">Está lendo um livro novo? Add ele abaixo :D</p>
                    <a class="btn btn-primary" href="../book/form.html">Adicione um livro aqui!</a>
                    <a class="btn btn-primary" href="../book/books.php">Seus livros</a>
                    <a class="btn btn-primary" href="edit.html">Deseja editar alguma informação da sua conta?</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>