<nav class="navbar navbar-expand shadow p-3 mb-5 bg-white rounded">
   
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navnar">
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="../index.html">Home <span class="sr-only"></span></a>                 
                </li>            
                <li>
                    <a class="nav-link" href="../../controller/logoutusercontroller.php"><span class="badge badge-danger">Sair</span></a>
                </li>
            </ul>
        </div>
    </div>
    
</nav>